name: Run tests
on:
  workflow_dispatch:
    inputs:
      ALLURE_JOB_RUN_ID:
        description: ALLURE_JOB_RUN_ID service parameter. Leave blank.
      ALLURE_USERNAME:
        description: ALLURE_USERNAME service parameter. Leave blank.

env:
  ALLURE_TOKEN: ${{ secrets.ALLURE_TOKEN }}
  ALLURE_JOB_RUN_ID: ${{ github.event.inputs.ALLURE_JOB_RUN_ID }}
  ALLURE_ENDPOINT: https://softlabs.testops.cloud
  ALLURE_PROJECT_ID: 199
  ALLURE_RESULTS: allure-results
  ALLURE_LAUNCH_TAGS: Tag 1

jobs:
  all-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Install and configure allurectl
        uses: allure-framework/setup-allurectl@v1.0.2
        with:
          allure-endpoint: https://softlabs.testops.cloud
          allure-project-id: 199
          allure-token: ${{ secrets.ALLURE_TOKEN }}
      - name: Print Allure service params
        run: |
          echo "ALLURE_JOB_RUN_ID = ${{ github.event.inputs.ALLURE_JOB_RUN_ID }}"
          echo "ALLURE_USERNAME   = ${{ github.event.inputs.ALLURE_USERNAME }}"
      - name: Build with Gradle and upload to Allure TestOps
